@font-face {
  font-family: "vazir";
  src: url("/Vazir-Bold-FD-WOL.ttf");
}
@font-face {
  font-family: "lale";
  src: url("/Lalezar-Regular.ttf");
}

body {
  text-align: center;
  background: linear-gradient(320deg, #6567a4, #b4b6dd);
  min-height: 100vh;
  margin: 0;
  font-family: "vazir";
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin-top: 20px;
  filter: drop-shadow(0px 0px 10px rgba(44, 42, 42, 0.7));
}

.container {
  width: 90%;
  max-width: 750px;
  background-color: rgb(241, 227, 227);
  margin: 40px auto;
  border-radius: 24px;
  box-shadow: 2px 0px 30px 0px #cccaca;
  overflow: hidden;
}

.header {
  background-color: #906fe2;
  color: white;
  padding: 10px 0;
  border-radius: 24px 24px 0 0;
  width: 100%;
}

h1 {
  font-family: "lale";
  font-weight: 500;
  margin: 0;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.input {
  flex: 1;
  max-width: 400px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "vazir";
  font-weight: 600;
  box-shadow: 0 0 5px #ccc;
}

.btn {
  background-color: #fff;
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: #3e3efc;
  color: #fff;
  border-radius: 8px;
  font-family: "vazir";
  cursor: pointer;
  transition: 200ms ease;
}

.btn:hover {
  scale: 0.95;
  background-color: transparent;
}

.tasks {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  margin: 8px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  direction: rtl;
  width: 100%;
}

.btn {
  border: none;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
  margin: 3px;
}
.delet{
  background-color: rgb(255, 67, 67);
}
.edit{
    background-color: rgb(13, 146, 92);
}
.login-box {
  background: #222;
  color: #fff;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  margin: 100px auto;
  box-shadow: 0 0 15px #444;
}
.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
.logout-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}
.nav{
  background-color: #222;
  width: 100% !important;
  border-radius: 24px;
}